.title-slide {

  background-image: url(imgs/hubble.png);

  background-size: fill;
  
  background-position: center top;
  
  background-color: #f1e4ca;

  text-shadow: 0 0 80px #333;

  vertical-align: top !important; 

  text-align: center !important;
  
  font-weight: bold;
  

}
  



.title-slide h1 {

  color: #FFFFFF;

}




.title-slide h2 {

  color: #FFFFFF;

}




.title-slide h3 {

  color: #FFFFFF;
  
  font-size: 25px;
  

  vertical-align: bottom !important; 

  text-align: left !important;


}






.title-slide .remark-slide-number {

  display: none;

}

.inverse {
  color: #FFFFFF;
}

.thanks-slide {

  background-image: url(imgs/watercolour_crop_nologo.jpg);

  background-size: contain;
  
  background-position: center top;

  background-color: #f1e4ca;

  
  
}


.tab{
    margin: 0;
    text-indent: 2em
}
